html{
  font-size: 10px;
  background:url(./BLK.png);
  background-size: cover;
}

/* body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

.keys{
  display: flex;
  flex:1;
  min-height:100vh;       
  align-items: center;
  justify-content: center;
}

.key{
  border:4px solid rgb(75, 0, 141);
  border-radius:5px;
  margin:1rem;
  font-size: 1.5rem;
  padding:1rem .5rem;
  transition:all .07s;
  width:100px;
  text-align: center;
  color:white;
  background:rgba(141, 59, 234, 0.236);
  text-shadow:0 0 5px rgb(39, 5, 68);
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#ffd139;
}

.playing {
  transform:scale(1.1);
  border-color:#ffc600;
  box-shadow: 0 0 10px #ffc600;
}